* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* nav bar */
nav {
  display: flex;
  background-color: #ffde3d;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  border-bottom: solid 2px #42280f;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
  text-align: center;
  box-sizing: border-box;
}

nav ul li a {
  text-decoration: none;
  color: #413c23;
  font-size: 0.8em;
  font-weight: bold;
}

nav ul li a:hover {
  color: #f7e79b;
  border: solid #f77a05;
  background-color: #f77a05;
  padding: 16px 15px;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  top: -5px;
  left: -6px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #413c23;
  border-radius: 3px;
  transition: all 0.5s;
}

/* responsive breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
  .format {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .gender-details-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
/* ukuran mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  .fasil {
    font-size: 60%;
    margin: auto;
  }
  .fasil-content {
    margin: auto;
    padding-right: 80px;
    justify-content: center;
    align-items: center;
    min-height: 10%;
    flex-direction: column;
  }
  .fasil-content span {
    flex-direction: column;
  }
  .footer {
    min-width: fit-content;
    font-size: 50%;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #ffde3d;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
    z-index: 1;
  }

  .format {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form-pesan {
    min-width: 280px;
    font-size: 50%;
  }

  .user-input-box {
    margin-bottom: 12px;
    width: 100%;
  }
  .gender-details-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  form {
    size: 50%;
  }

  .footer {
    min-width: fit-content;
    font-size: 50%;
  }
}

nav ul.slide {
  opacity: 1;
  transform: translateX(0);
}

/* main content */
.main-content h2 {
  padding-top: 15px;
  padding-left: 25px;
}
.main-content p {
  padding-left: 25px;
  padding-bottom: 10px;
}

.slider {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}

.slidem {
  width: 20%;
  transition: 2s;
}

.slidem img {
  width: 100%;
  height: 500px;
}

/* manual slide */

.manual-btn {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.mnl-btn {
  border: 2px solid #088667;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
}

.mnl-btn:not(:last-child) {
  margin-right: 40px;
}
.mnl-btn:hover {
  background: #088667;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

/* automatic navigation */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #088667;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .button1a {
  background: #088667;
}
#radio2:checked ~ .navigation-auto .button2a {
  background: #088667;
}
#radio3:checked ~ .navigation-auto .button3a {
  background: #088667;
}
#radio4:checked ~ .navigation-auto .button4a {
  background: #088667;
}

.fasil h2 {
  padding-top: 15px;
  padding-left: 25px;
}
.fasil .fasil-content {
  padding-left: 100px;
  padding-top: 15px;
}
.tutup {
  height: 25px;
  border-bottom: solid 2px #42280f;
}

/* pesan & form */
.message .container h2 {
  padding-top: 15px;
  padding-left: 25px;
  padding-bottom: 30px;
}

.format {
  display: flex;
}

.form-pesan {
  padding-top: 15px;
  padding-left: 100px;
  box-sizing: border-box;
}

.main-user-info {
  padding: 20px 0;
}

.user-input-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 10px;
}
textarea {
  width: 100%;
}
.user-input-box label {
  width: 95%;
  color: #333;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input {
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.gender-details-box {
  margin: 15px 0;
  color: #333;
}

.gender-details-box label {
  padding: 0 20px 0 5px;
}

.gender-details-box label,
.gender-details-box input,
.rn {
  cursor: pointer;
}
.message .container h2 {
  padding-top: 15px;
  padding-left: 25px;
  padding-bottom: 30px;
}

form {
  display: flex;
  flex-direction: row;
}
form .kiri label {
  line-height: 1.5;
}
form .tengah b {
  line-height: 1.5;
  margin-left: 5px;
  margin-right: 5px;
}
form .kanan input {
  line-height: 1.5;
  margin-left: 3px;
  margin-bottom: 5px;
}

.rh {
  width: 100%;
}
.rn {
  width: 100%;
}

.respon {
  margin-left: 50px;
  width: 50%;
  border-style: solid;
  padding-top: 3vh;
  padding-left: 5vh;
  padding-bottom: 8vh;
}

/* footer */
.footer {
  border-top: #413c23;
  height: 20px;
  width: 100%;
  text-align: right;
}
.footer p {
  padding-right: 3vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
